<manifest package="com.example.m_hike"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:label="M-Hike"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".AddObservationActivity" android:exported="false" />
        <activity android:name=".AddHikeActivity" android:exported="false" />
        <activity android:name=".HikeDetailActivity" android:exported="false" />
        <activity android:name=".SearchActivity" android:exported="false" />

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.m_hike.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
